
<h1 class="display-2">Login</h1>

  <div class="container text-center" style="background-color: darkslateblue; margin-top: 5%; ">
    <div class="row" style="display: block; ">
    <mat-form-field [formGroup]="regForm" appearance="outline" color="accent" style="width: min-content; margin: auto; margin-top: 2%; margin-left: 2.8%;">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="username" required>
    </mat-form-field>
    <mat-icon style="width: min-content; padding-left: 0;" matTooltip={{tooltip}}>help</mat-icon>
  </div>
  <div class="row">
    <mat-form-field [formGroup]="regForm" appearance="outline" color="accent" style="width: min-content; margin: auto;">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
  </div>
  <div class="row">
  <mat-form-field [formGroup]="regForm" appearance="outline" color="accent" style="width: min-content; margin: auto;">
    <mat-label>Ruolo</mat-label>
    <mat-select formControlName="role" required>
      <mat-option value="one">Utente</mat-option>
      <mat-option value="two">Medico</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<p class="lead">
  Se non hai un account registrati <a routerLink="/">qui</a>
</p>
    <button mat-stroked-button color="accent" [disabled]="!regForm.valid" (click)="login()" style="margin-bottom: 1%; margin-left: 80%;">Accedi</button>
  </div>
  <app-footer></app-footer>

