<h1 class="display-2">Benvenuto nell'agenda degli appuntamenti!</h1>
<div class="container text-center" style="background-color: darkslateblue; margin-top: 5%; ">
<p class="lead"> Per accedere all'agenda devi creare prima un account!</p>  
<br>
<p class="lead"> Se sei un medico clicca <a routerLink="/doctor/register">qui</a></p>  
<p class="lead"> Se sei un utente clicca <a routerLink="/user/register">qui</a></p>  
<p class="lead"> Se hai già un account clicca <a routerLink="/login">qui</a></p>  
</div>
